@import 'ember-power-calendar';
@import 'ember-basic-dropdown';
@import 'bulma';

@import 'code-editor';
@import 'collapsible';

.datepicker {
  border: 1px solid #CCC;
  border-radius: $radius;
  box-shadow: rgba(0,0,0,.172549) 0 6px 12px 0;
}

.demo-calendar-small {
  @include ember-power-calendar($cell-size: 30px);
}

.button {
  cursor: pointer;
}

.menu-list {
  li {
    a.light {
      padding: 1rem 0 1rem 1rem;
      color: $white;
      border-bottom: 1px solid rgba(255,255,255,0.25);
      font-size: 120%;
      &:hover{
        color: $blue;
      }
    }
  }
}

.active {
  @extend .is-active;
}

.section {
  background: none;
}

.card-header-icon.is-info {
  color: $grey-light;
}

.card-footer-item.button {
  height: auto;
  border-radius: 0;
}

.container-notification {
  margin-top: 16px;

  &:empty {
    display: none;
  }
}

.app {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  height: 100vh;

  @media (max-width: $tablet) {
    height: auto;
  }

  > .hero {
    flex-shrink: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.is-grow {
  flex-grow: 1;
}

.is-fullheight {
  height: 100%;
}

.is-justify-end {
  justify-content: flex-end;
}

.card-header-title {
  &.is-primary {
    color: $primary;
  }
}

.remove-margin {
  margin-top: -16px;
}

.panel {
  background: $white;
}

.panel.is-fullheight {
  .panel-block {
    border-bottom: 1px solid #d3d6db;
  }
}

.is-shadow-right {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.textarea-code {
  font-family: monospace;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.CodeMirror {
  flex-grow: 1;
}

.is-scrollable {
  overflow: scroll;
}

pre code {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #333;
  color: white;
}

.scrolly {
  overflow: scroll;
}
