{{#center-grid}}
  <div class="panel is-fullwidth">
    <h2 class="panel-heading">Users</h2>

    {{#each model as |user|}}
      <div class="panel-block">
        <p class="level is-mobile">
          <span class="level-left">{{user.login}}</span>
          <span class="level-right">{{user.name}}</span>
        </p>
      </div>
    {{/each}}
  </div>
{{/center-grid}}
