<div class="section scrolly">
  <div class="container">
    <div class="columns">
      <div class="column is-8-desktop is-offset-2-desktop">
        {{yield}}
      </div>
    </div>
  </div>
</div>
